DB_HOST=""
DB_PORT=""
DB_NAME=""
DB_USER=""
DB_PASSWORD=""

BOT_TOKEN=""
BOT_API_ID=
BOT_API_HASH=""
BOT_ID=
BOT_USERNAME=""

#BOT_TOKEN="7550792060:AAGf7EmhkPPHugvcfqDIFKP6eXwWvGXhPh8"
#BOT_API_ID=1910144
#BOT_API_HASH="275a53e95d045f6d980c222640f36add"
#BOT_ID=7550792060
#BOT_USERNAME="GDServiceBot"

OPENAI_API_KEY=""
TEST_MODE="1"

APIFY_TOKEN=""