DB_HOST="localhost"
DB_PORT="5436"
DB_NAME="service_gudauri_db"
DB_USER="admin"
DB_PASSWORD="12345"

BOT_TOKEN="6097383614:AAHhgFNGoK1mAAKajFPnjjjzUE-mPnXnp98"
BOT_API_ID=1910144
BOT_API_HASH="275a53e95d045f6d980c222640f36add"
BOT_ID=6097383614
BOT_USERNAME="RubenIsTestBot"

OPENAI_API_KEY=""
TEST_MODE="1"

APIFY_TOKEN=""